<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>THEME</key>
	<string></string>
	<key>development</key>
	<false/>
	<key>PERCENT_VISIBLE</key>
	<integer>25</integer>
	<key>HOCKEY_APP_BETA_ID</key>
	<string>a41f34aa91f807a1973761820512a666</string>
	<key>HOCKEY_APP_ID</key>
	<string>af5b1b611c8c80f7819e39c0ffd1cdd3</string>
</dict>
</plist>
